@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width" />
    <title>photogetX</title>
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <script src="jquery-1.7.1.js"></script>
</head>
<body>
    <header>
      <h1 style="text-align:center">PhotogetX</h1>
    </header>
    <blockquote style="text-align:center">
        <p>Uma ferramenta simples de busca de imagens</p>
        <footer>Bill gates</footer>
    </blockquote>
    <div style="text-align:center">
    <form role="form" class="form-horizontal" method="post">
        <div class="form-group">
            <label class="control-label" for="pesq">Buscar: </label>
            <input name="pesq" type="search" id="pesq" size="50px" placeholder="Radiohead" autofocus required>
            &nbsp&nbsp
           <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span> Search!!</button>
        </div>
    </form>
  </div>
    
     
</body>
   
</html>
